.btn {
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all .2s;
    font-size: 1.6rem;
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba($color-black, .2);
  }

  &:active {
    transform: translateY(-1px);
    box-shadow: 0 .5rem 2rem rgba($color-black, .2);
  }

  &--white {
    background-color: $color-white;
    color: $color-grey-dark;
  }

  &--animated {
    animation: moveInBottom .5s ease-out .25s;
    animation-fill-mode: backwards;
  }
}