.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 50rem;

  &__side {
    color: white;
    font-size: 3rem;
    height: 50rem;
    transition:all .8s;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 3px;
    box-shadow: $shadow-primary;

    &--front {
      color: $color-secondary-dark;
      background-color: $color-white;
    }

    &--back {
      transform: rotateY(180deg);

      &-1 {
        background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark);
      }
    }
  }
  
  &:hover &__side--front {
    transform: rotateY(180deg);
  }
  
  &:hover &__side--back {
    transform: rotateY(0);
  }
}